.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.styleHomeLink{
  justify-content:left;
  display:flex
}

.StyleLink{
  justify-content:left;
  display:flex;
  color:rgb(165,102,245)
}
.container{
  margin: 0 auto;
  width: 300px;
}
.FormStyle{
  justify-content:left;
  margin:40px;
  color:rgb(165,102,245);
  
}

.StyleBtn{
  text-decoration-color: aliceblue;
}

.SpaceBtn{
  margin: 05px;
}